@model PROJ_SW.Model.Product

@{
    ViewBag.Title = "viewProductUSER";
}
<head>
    <script type="text/javascript">
        $(':radio').change(function () {
            console.log('New star rating: ' + this.value);
        });
    </script>

    <link href="~/Content/viewProductUSER.css" type="text/css" rel="stylesheet" />
</head>
<br />
<br />
<div class="container">
    <div class="about_area">
            
        <div class="border_1px">
            <h2 class="name-med">
                @Html.DisplayFor(model => model.prod_name)  "@Html.DisplayFor(model => model.Category.cate_name)"
                <br />
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("ProductPage","Products")" style="font-size: x-large">Home</a></li>
                    <li class="breadcrumb-item"><a href="https://localhost:44344/LatestFeatured/FeaturedProducts" style="font-size: large">@Html.DisplayFor(model => model.Category.cate_name)</a></li>
                    <li class="breadcrumb-item active" style="font-size: medium">@Html.DisplayFor(model => model.prod_name)</li>
                </ol>
            </h2>
            <div class="row align-items-center">
                <div class="col-xl-6  col-md-6">
                    <div class="about_thumb" style="margin-left:10px">
                        <img src="@Url.Content(Model.Prod_Image)" style="width:550px;min-height:300px" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">

                    <div class="about_info" style="margin-top:100px;color:black">
                        <p class="first_para">
                            @Html.DisplayFor(model => model.Description)

                        </p>
                        <p class="first_para">
                            30 TAB
                            <br>
                        </p>
                        <p class="first_para" style="color:darkred">
                            @Html.DisplayFor(model => model.Price) EGP
                        </p>
                        <form class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                        </form>
                    </div>
                    <a href="@Url.Action("AddToCart","Products",new { id = Model.prod_id })" class="btn btn-primary" target="_blank" style="margin-left:100px">
                        <span class="glyphicon glyphicon-shopping-cart"> </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
