<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title> Home </title>
    <link href="~/Content/UserIndex.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/footer.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" type="text/css" rel="stylesheet" />

    <style>
        .wrapper {
            position: absolute;
            /*background: rgba(0, 0, 0,0.4);*/
            max-width: 550px;
            width: 100%;
            height: 30px;
            margin-top: 15px;
            margin-left: 700px;
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
            color: #3498db;
        }

            .wrapper .input {
                width: 85%;
                padding: 15px 20px;
                border: none;
                border-radius: 5px;
                font-weight: bold;
                color: #3498db;
            }

        .searchbtn {
            margin-top: 0px;
            display: flex;
            top: 0px;
        }

            .searchbtn .fas {
            }
    </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="searchbtn"><img src="~/Images/pharmacy.png" style="height:40px; width:70px;" /></div>

                @Html.ActionLink("LIFESERVE", "Index", "User", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "User")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Blog", "Artical", "Home")</li>
                    <li>@Html.ActionLink("Cart", "Cart", "Home")</li>
                    <li>@Html.ActionLink("LogIn/SingUp", "Login", "Account")</li>
                    <li>@Html.ActionLink("LogOut", "Login", "Account")</li>
                </ul>
                <div class="wrapper">
                    <input type="text" class="input"
                           placeholder="What are you looking for?">

                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div class="container">
        <div class="slidershow middle" style="margin-top: 50px">
            <div class="slides">
                <input type="radio" name="r" id="r1" checked />
                <input type="radio" name="r" id="r2" />
                <input type="radio" name="r" id="r3" />
                <input type="radio" name="r" id="r4" />
                <input type="radio" name="r" id="r5" />
                <div class="slide s1" style="margin-top:50px">
                    <img src="~/Images/home1.png" style="height:620px; width:1140px;">
                </div>
                <div class="slide">
                    <img src="~/Images/home14.jpg" style="height:620px; width:1140px;">
                </div>
                <div class="slide">
                    <img src="~/Images/home15.jpg" style="height:620px; width:1140px;">
                </div>
                <div class="slide">
                    <img src="~/Images/home3.jpg" style="height:620px; width:1140px;">
                </div>
                <div class="slide">
                    <img src="~/Images/home9.jpg" style="height:620px; width:1140px;">
                </div>
            </div>
            <div class="navigation">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>
                <label for="r4" class="bar"></label>
                <label for="r5" class="bar"></label>
            </div>
        </div>
    </div>
    <div class="serbody">
        <div class="services">
            <h1> <span class="BlueText">Our Services </span> <br> <br /><span class="head"> LifeServe Pharmacy </span> </h1>
            <div class="cin">
                <div class="service">
                    <img src="~/Images/delivered.png">
                    <h2> You Shop We Deliver </h2>
                    <input type="checkbox" class="read-more-state" id="post-1" />
                    <p class="read-more-wrap">
                        Now you can shop online, select all what you need from the pharmacy through our online store on web or on mobile app.<span class="read-more-target">
                            and we will deliver it to you directly from our diffuse branches. Select products through the Shop menu or access one of the categories and then add the products to the cart then follow the process, just select all
                            what you need from the pharmacy, thank you very much.
                        </span>
                    </p>
                    <label for="post-1" class="read-more-trigger"></label>
                </div>
                <div class="service">
                    <img src="~/Images/health.png">
                    <h2> Health Indicator </h2>
                    <input type="checkbox" class="read-more-state" id="post-2" />
                    <p class="read-more-wrap">
                        Blood pressure, sugar, and weight… etc. results are important indicators on your health status and are necessary when<span class="read-more-target">
                            pursuing chronic treatment or  go to a new doctor or in cases of emergency or in diet programs! Now you can track all your vital measurements and visualize their progress over specific time periods through your profile!
                            Go to one of our branches-measure.
                        </span>
                    </p>
                    <label for="post-2" class="read-more-trigger"></label>
                </div>
                <div class="service">
                    <img src="~/Images/treatment.png">
                    <h2> My Prescriptions </h2>
                    <input type="checkbox" class="read-more-state" id="post-3" />
                    <p class="read-more-wrap">
                        From now and then you will not lose a prescription again! You can keep all your prescriptions you ordered from Fouda<span class="read-more-target">
                            pharmacies or through our website or mobile app. with full details of all medications and dosages in your profile; This will make it easier to re-order or share with your doctor or recall the dosage of the medication.
                            Log in to "my profile" and click on "my prescriptions",
                        </span>
                    </p>
                    <label for="post-3" class="read-more-trigger"></label>
                </div>

            </div>
        </div>
    </div>
    <div class="conta">
        <div class="column">
            <div class="card">
                <div class="services">
                    <h1> <span class="BlueText">BROWSE PRODUCTS BY </span> <br> <br /> <span class="head"> OUR CATEGORIES </span> </h1><br /><br /><br /><br /><br />
                    <button class="button button2" onclick="window.location.href = 'https://localhost:44344/Products/HomePage/1';"> <span class=" catfont2"> Medicine </span> </button>
                    <button class="button button1" onclick="window.location.href = 'https://localhost:44344/Products/HomePage/2';"> <span class=" catfont1"> Skin Care </span> </button>
                    <button class="button button3" onclick="window.location.href = 'https://localhost:44344/Products/HomePage/3';"> <span class=" catfont3"> Beauty </span> </button>
                    <button class="button button4" onclick="window.location.href = 'https://localhost:44344/Products/HomePage/4';"> <span class=" catfont4"> Hair Care </span> </button>
                    <button class="button button5" onclick="window.location.href = 'https://localhost:44344/Products/HomePage/5';"> <span class=" catfont5"> Perfume </span> </button><br /><br /><br /><br />
                    <a href="https://localhost:44344/Categories/CategoryPage" class="btn" style="margin-left: 1000px;">View All >> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="services">
                <h1> <span class="BlueText">DON'T MISS OUR </span> <br> <br /> <span class="head"> Latest Offers </span> </h1>
                <div class="our_department_area">
                    <div class="container7">
                        <div class="row">
                            <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="single_department">
                                    <div class="department_thumb">
                                        <img src="../Images/bioblas.jpg" style="width:230px;height:240px;margin-left: 70px;" alt="">
                                    </div>
                                    <div class="department_content">
                                        <h1><a href="https://localhost:44344/LatestFeatured/Product1">Biobias Anti Hair Loss Mask</a></h1>
                                        <p>
                                            105.00 EGP
                                        </p>
                                        <form class="rating">
                                            <label>
                                                <input type="radio" name="stars" value="1" />
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="2" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="3" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="4" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="5" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                        </form>
                                        <a href="https://localhost:44344/LatestFeatured/Product1" class="learn_more">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="single_department">
                                    <div class="department_thumb">
                                        <img src="../Images/cosmoapp.jpg" style="width:230px;height:240px;margin-left: 70px;" alt="">
                                    </div>
                                    <div class="department_content">
                                        <h1><a href="https://localhost:44344/LatestFeatured/Product2">COSMO APPE RENEWAL Cream</a></h1>
                                        <p>
                                            360.00 EGP
                                        </p>
                                        <form class="rating">
                                            <label>
                                                <input type="radio" name="stars" value="1" />
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="2" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="3" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="4" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="5" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                        </form>
                                        <a href="https://localhost:44344/LatestFeatured/Product2" class="learn_more">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="single_department">
                                    <div class="department_thumb">
                                        <img src="../Images/beesline.jpg" style="width:230px;height:270px; margin-left: 70px;" alt="">
                                    </div>
                                    <div class="department_content">
                                        <h1><a href="https://localhost:44344/LatestFeatured/Product3"> BEESLINE LIP CARE STRAWBERRY</a></h1>
                                        <p>
                                            112.50 EGP
                                        </p>
                                        <form class="rating">
                                            <label>
                                                <input type="radio" name="stars" value="1" />
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="2" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="3" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="4" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="5" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                        </form>
                                        <a href="https://localhost:44344/LatestFeatured/Product3" class="learn_more">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <br /><br />
                <a href="https://localhost:44344/LatestFeatured/LatestOffer" class="btn" style="margin-left:1000px;">View All >> </a> <br /> <br />
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="services">
                <h1> <span class="BlueText">READ OUR </span> <br> <br /> <span class="head"> Recent Articles </span> </h1>
                <div class="our_department_area">
                    <div class="container7">
                        <div class="row">
                            <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="single_department">
                                    <div class="department_thumb">
                                        <img src="~/Images/shoveling.jpg" style="width:340px;height:400px;" alt="">
                                    </div>
                                    <div class="department_content">
                                        <h1><a href="https://localhost:44350/Home/Atrical3">How Does a Person Freeze To Death?</a></h1>
                                        <p>

                                        </p>
                                        <form class="rating1">
                                            <label>
                                                <input type="radio" name="stars" value="1" />
                                                <span class="icon1">♥</span>
                                            </label>
                                        </form>
                                        <a href="#" class="learn_more" style="color:#3498db;"> 05 Mar 2020</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="single_department">
                                    <div class="department_thumb">
                                        <img src="~/Images/people.jpg" style="width:340px;height:400px;" alt="">
                                    </div>
                                    <div class="department_content">
                                        <h1><a href="https://localhost:44350/Home/Artical1"> Brain Woman Is 3 Y.Younger Than Man </a></h1>
                                        <p>

                                        </p>
                                        <form class="rating1">
                                            <label>
                                                <input type="radio" name="stars" value="1" />
                                                <span class="icon1">♥</span>
                                            </label>

                                        </form>
                                        <a href="#" class="learn_more" style="color:#3498db;"> 05 Mar 2020</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="single_department">
                                    <div class="department_thumb">
                                        <img src="~/Images/hands.jpg" style="width:340px;height:400px;" alt="">
                                    </div>
                                    <div class="department_content">
                                        <h1><a href="https://localhost:44350/home/Artical2">Climate Change May Hurt Babies Hearts </a></h1>
                                        <p>

                                        </p>
                                        <form class="rating1">
                                            <label>
                                                <input type="radio" name="stars" value="1" />
                                                <span class="icon1">♥</span>
                                            </label>

                                        </form>
                                        <a href="#" class="learn_more" style="color:#3498db;"> 05 Mar 2020</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <br /><br />
            <a href="https://localhost:44350/Home/Artical" class="btn" style="margin-left: 820px;">View All >> </a>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer-distributed">

            <div class="footer-left">
                <img src="~/Images/pharmacy.png">
                <h3>Lif<span>eS</span>erve<span>Phar</span>macy</h3>

                <p class="footer-links">
                    <a href="#">Home</a>
                    |
                    <a href="#">Blog</a>
                    |
                    <a href="#">About</a>
                    |
                    <a href="#">Contact</a>
                </p>

                <p class="footer-company-name" style="color: white;">© 2020 Medical Serviving Patients .</p>
            </div>

            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p>
                        <span style="margin-left: 50px;">
                            shop online
                            select all what you need from the pharmacy through our online store on web or on mobile app.
                        </span>

                    </p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>222222222222</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@eduonix.com">lifeservepharmacy@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about" style="color: white;">
                    <span>About the Pharmacy</span>
                    We offer Blood pressure, sugar, and weight for free.
                </p>
                <div class="footer-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>