@model PROJ_SW.Model.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/style.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="container">
        <h1>LOGIN FORM</h1>
        <div class="contact-form">
            <div class="signin">
                <form>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <input type="submit" value="LOGIN" />

                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright &copy; 2015 Cosmo Login Form. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>


    <div>
        @ViewBag.Message
    </div>
}

